
{% include "header.html" %}

        <h1>Update Password</h1>
        {%if response is defined %}
            {% if response %}
                <p>Password changed.</p>
            {% else %}
                <p>Please try again.</p>
            {% endif %}
        {% endif %}
        <form action="/updatepassword" method="POST">
                <label for="currentpassword">Current Password</label>
                <input type="password" name="currentpassword" placeholder="Enter current password">
                <br>
                <label for="newpassword1">New Password</label>
                <input type="password"name="newpassword1" placeholder="Enter new password">
                <br>
                <label for="newpassword2">Re-type New Password</label>
                <input type="password" name="newpassword2" placeholder="Repeat new password">
                <br>
            <button type="submit">Submit</button>
            </form>

{% include "footer.html" %}
